{% extends "base.html" %}
{% block title %}LM{% endblock %}

{% block content %}
<br>

<div class="card bg-body-secondary" align="center" style="--bs-bg-opacity: .85;">
  <div class="card-header"><h1>Games</h1></div>
</div>
<div class="table-responsive bg-body-secondary" style="--bs-bg-opacity: .85;">
    <table class="table lowz">
        <thead class="thead-dark">
        <tr>
            <th class="col-2" scope="col">Date</th>
            <th class="col-2" scope="col">Format</th>
            <th class="col-2" scope="col">Player 1</th>
            <th class="col-1" scope="col">Loth Elo</th>
            <th class="col-2" scope="col">Player 2</th>
            <th class="col-1" scope="col">Loth Elo</th>
            <th class="col-2" scope="col">Winner</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
        <tr class="align-items-center">
            {% if game.date.date().strftime("%B %d, %Y") != "February 01, 2023" %}
                <td class="col-2">{{ game.date.date().strftime("%B %d, %Y") }}</td>
            {% else %}
                <td class="col-2">Historic Games</td>
            {% endif %}
            <td class="col-2">{{ game.type }}</td>
            <td class="col-2">{{ game.player1 }}</td>
            <td class="col-2">{{ game.player1elo }}
                {% if game.player1elodelta >= 0 %}
                    <p style='color:MediumSeaGreen'> {{ game.player1elodelta }}</p>
                {% else %}
                    <p style='color:Tomato'> {{ game.player1elodelta }}</p>
                {% endif %}
            </td>
            <td class="col-2">{{ game.player2 }}</td>
            <td class="col-2">{{ game.player2elo }}
                {% if game.player2elodelta >= 0 %}
                    <p style='color:MediumSeaGreen'> {{ game.player2elodelta }}</p>
                {% else %}
                    <p style='color:Tomato'> {{ game.player2elodelta }}</p>
                {% endif %}
            </td>
            <td class="col-2">{{ game.winner }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="fixed">
<a href="/add-game">
    <button class="btn btn-outline-secondary whitebg">Add Game</button>
</a>
</div>
{% endblock %}