{% extends "base.html" %}
{% block title %}New Game{% endblock %}

{% block content %}
<form method="POST">
  <div class="card bg-body-secondary" style="--bs-bg-opacity: .85;">
  <div class="card-body">
    <h1 align="center">Enter New Game</h1>
    <select name="format" class="form-select" aria-label="Game Format">
        <option value="invalid" selected>Game Format</option>
        <option value="Classic(no time limit)">Classic</option>
        <option value="Rapid 10">Rapid 10min</option>
        <option value="Bliz 5">Bliz 5min</option>
        <option value="Bliz 3+2">Bliz 3min+2sec</option>
        <option value="Bliz 3">Bliz 3min</option>
        <option value="Bullet 2">Bullet 2min</option>
        <option value="Bullet 1+1">Bullet 1min+1sec</option>
        <option value="Bullet 1">Bullet 1min</option>
    </select>
    <br>
    <select name="player1" class="form-select" aria-label="Player 1">
        <option selected>Player 1</option>
        {% for player in players %}
        <option value="invalid" value="{{ player.name }}">{{ player.name }}</option>
        {% endfor %}
    </select>
    <br>
    <select name="player2" class="form-select" aria-label="Player 2">
        <option value="invalid" selected>Player 2</option>
        {% for player in players %}
        <option value="{{ player.name }}">{{ player.name }}</option>
        {% endfor %}
    </select>
    <br>
    <select name="winner" class="form-select" aria-label="Winning Player">
        <option value="invalid" selected>Loth Master</option>
        <option value="1 - 0">Player 1</option>
        <option value="0 - 1">Player 2</option>
        <option value="½ - ½">Tie</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Add</button>
    </div>
    </div>
</form>
{% endblock %}