{% extends "base.html" %}
{% block title %}LM{% endblock %}

{% block content %}
<br><br>
<div class="card p-4 p-md-5 mb-4 rounded text-bg-dark">
  <h1>Welcome to the Loth Chess Club</h1>
  <b class="lead my-3">These are the different titles of chess experience.</b>

  <p class="lead">Grand Elf     : 2500+
  <br> Elf           : 2400+
  <br> Wizard Master : 2300+
  <br> Dwarf Player  : 2200+
  <br> Hobbit Player : 2000+
  <br>Human Player   : 1800-</p>
</div>
<br>
<div class="card bg-body-secondary" align="center"  style="--bs-bg-opacity: .85;">
  <div class="card-header"><h1>Loth Masters</h1></div>
</div>
<div class="table-responsive bg-body-secondary"  style="--bs-bg-opacity: .85;">
    <table class="table lowz">
        <thead class="thead-dark">
        <tr>
            <th class="col-2" scope="col">Name</th>
            <th class="col-2" scope="col">Current Ranking</th>
            <th class="col-2" scope="col">Games Played</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
        <tr class="align-items-center">
            <th class="col-2">{{ player.name }}</th>
            <th class="col-2">{{ player.ranking }}</th>
            <th class="col-2">{{ player.gamesplayed }}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="fixed">
<a href="/add-player">
    <button class="btn btn-outline-secondary whitebg" style="--bs-bg-opacity: .85;">Add LM</button>
</a>
</div>
{% endblock %}