table.lowz {
    z-index: 500;
}
 div.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

button.whitebg {
    background-color: #ffffff;
}

body.bg_pic {
    background-image: url('chess_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}